
.subtitulo{

    
}
.tachado{
 text-align: right;
 margin: 10px;
 color: red;
 //text-decoration: line-through;
 font-size: 20px;
}

.icon-premio{
    border-radius: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 20px;
    font-size: 30px;
    background: aquamarine;
    padding: 10px;
    



}

.img-producto{
   
    
    border: 1px solid rgb(15, 15, 15);
    //width: 100%;
    height: 240px;
    width: 200px;
    border-radius: 20px;
    display: block;
    margin: auto;
    text-align: center;
    //padding: 5px;
    
    

}

.img-producto:hover{
    box-shadow: 0 0 10px 5px rgba(66, 67, 67, 0.5);
}