.img-producto{
    width: 250px;
    margin: auto;

}
.subtitulo{

    
}
.tachado{
 text-align: right;
 margin: 10px;
 color: red;
 //text-decoration: line-through;
 font-size: 20px;
}

.icon-producto{
    border-radius: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 20px;
    font-size: 30px;
    background: aquamarine;
    padding: 10px;
    



}