<ion-header>
  <ion-toolbar>
    <ion-title>Play Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


  <ion-card>
    <ion-item>
      <ion-avatar  slot="start">
        <img src="src=../../assets/images/matGame.png">
      </ion-avatar>
      <ion-label>
        <ion-card-title>Game Math</ion-card-title>
        
      </ion-label>
    </ion-item> 

    <ion-card-header  class="myphoto">
      
      <img src="src=../../assets/images/matGame.png" alt="ion">
    </ion-card-header>

    <ion-card-content class="ion-margin-top">
      Un juego de matemáticas que involucre suma, resta y 
      multiplicación puede ser una actividad en la que los jugadores 
      deben realizar operaciones matemáticas con números que les son 
      presentados en una situación de juego.
    </ion-card-content>
    
    <ion-button fill="outline" color="success" ><ion-icon name="play"></ion-icon> Play </ion-button>
  </ion-card> 

  <ion-card>
    <ion-item>
      <ion-avatar  slot="start">
        <img src="src=../../assets/images/ahorcado.png">
      </ion-avatar>
      <ion-label>
        <ion-card-title>Game Math</ion-card-title>
        
      </ion-label>
    </ion-item> 

    <ion-card-header  class="myphoto">
      
      <img src="src=../../assets/images/ahorcado.png" alt="ion">
    </ion-card-header>

    <ion-card-content class="ion-margin-top">
      Un juego de matemáticas que involucre suma, resta y 
      multiplicación puede ser una actividad en la que los jugadores 
      deben realizar operaciones matemáticas con números que les son 
      presentados en una situación de juego.
    </ion-card-content>
    
    <ion-button fill="outline" color="success" ><ion-icon name="play"></ion-icon> Play </ion-button>
  </ion-card> 

  <ion-card>
    <ion-item>
      <ion-avatar  slot="start">
        <img src="src=../../assets/images/fruits.png">
      </ion-avatar>
      <ion-label>
        <ion-card-title>Game Math</ion-card-title>
        
      </ion-label>
    </ion-item> 

    <ion-card-header  class="myphoto">
      
      <img src="src=../../assets/images/fruits.png" alt="ion">
    </ion-card-header>

    <ion-card-content class="ion-margin-top">
      Un juego de matemáticas que involucre suma, resta y 
      multiplicación puede ser una actividad en la que los jugadores 
      deben realizar operaciones matemáticas con números que les son 
      presentados en una situación de juego.
    </ion-card-content>
    
    <ion-button fill="outline" color="success" ><ion-icon name="play"></ion-icon> Play </ion-button>
  </ion-card> 
  

</ion-content>