ion-card > ion-card-content {
    height: 150px; //your height of content here
    overflow: scroll;
 }

 .myphoto {
    text-align: center;
    }

ion-avatar{
        text-align: center;
}

img {
    display: block;
    margin: auto;
  }