<ion-app>
  <ion-header class="ion-no-border" collapse="fade">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content >


    <ion-card>
      <ion-item>
        <ion-avatar  slot="start">
          <img src="src=../../assets/images/math.jpg">
        </ion-avatar>
        <ion-label>
          <ion-card-title>Game Math</ion-card-title>
          
        </ion-label>
      </ion-item> 
  
      <ion-card-header  class="myphoto">
        
        <img src="src=../../assets/images/math.jpg" alt="ion">
      </ion-card-header>
  
      <ion-card-content class="ion-margin-top">
        Un juego de matemáticas que involucre suma, resta y 
        multiplicación puede ser una actividad en la que los jugadores 
        deben realizar operaciones matemáticas con números que les son 
        presentados en una situación de juego.
      </ion-card-content>
      
      <ion-button fill="outline" color="success" href="/usuario-menu/usuario-menugames/ahorcadogame"><ion-icon name="play"></ion-icon> Play </ion-button>
  
      
      <ion-item>
        <ion-label>Calificación:</ion-label>
        <ion-icon name="star" *ngFor="let i of [1, 2, 3, 4, 5]" [style.color]="i <= rating ? 'orange' : 'gray'"
          (click)="rate(i)"></ion-icon>
      </ion-item>
      <ion-button (click)="submitRating()">Enviar calificación</ion-button>
      
    </ion-card> 
  
  
  
    <ion-card>
      <ion-item>
        <ion-avatar  slot="start">
          <img src="src=../../assets/images/ahorcado.png">
        </ion-avatar>
        <ion-label>
          <ion-card-title>Hanged Game</ion-card-title>
          
        </ion-label>
      </ion-item> 
  
      <ion-card-header  class="myphoto">
        
        <img src="src=../../assets/images/ahorcado.png" alt="ion">
      </ion-card-header>
  
      <ion-card-content class="ion-margin-top">
        Un juego de matemáticas que involucre suma, resta y 
        multiplicación puede ser una actividad en la que los jugadores 
        deben realizar operaciones matemáticas con números que les son 
        presentados en una situación de juego.
      </ion-card-content>
      
      <ion-button fill="outline" color="success" href="/usuario-menu/usuario-menugames//ahorcadogame"><ion-icon name="play"></ion-icon> Play </ion-button>
    </ion-card> 
  
    <ion-card>
      <ion-item>
        <ion-avatar  slot="start">
          <img src="src=../../assets/images/fruits.jpg">
        </ion-avatar>
        <ion-label>
          <ion-card-title>Fruits Game</ion-card-title>
          
        </ion-label>
      </ion-item> 
  
      <ion-card-header  class="myphoto">
        
        <img src="src=../../assets/images/fruits.jpg" alt="ion">
      </ion-card-header>
  
      <ion-card-content class="ion-margin-top">
        Un juego de matemáticas que involucre suma, resta y 
        multiplicación puede ser una actividad en la que los jugadores 
        deben realizar operaciones matemáticas con números que les son 
        presentados en una situación de juego.
      </ion-card-content>
      
      <ion-button fill="outline" color="success" href="/usuario-menu/usuario-menugames//fruitsgame"><ion-icon name="play"></ion-icon> Play </ion-button>
    </ion-card> 
    
  
  </ion-content>

  </ion-app>