<ion-tabs>
  <ion-tab-bar scrollable>
    <ion-tab-button tab="admin-perfil" >
      <ion-icon name="document-text-outline"></ion-icon>
      Reportes
    </ion-tab-button>
    <ion-tab-button tab="admintop10" >
      <ion-icon name="globe-outline"></ion-icon>
      Redes Sociales
      <!-- <ion-label>Redes Sociales</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="reg-ven" >
      <ion-icon name="reorder-four-outline"></ion-icon>
      Agregar Valores
      <!-- <ion-label>Agregar Valores</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="admin-resumen" >
      <ion-icon name="list-outline"></ion-icon>
      Comentarios
      <!-- <ion-label>Comentarios</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="adminkeywords" >
      <ion-icon name="fast-food-outline"></ion-icon>
      Resturante
      <!-- <ion-label>Resturante</ion-label> -->
    </ion-tab-button>
    
    <ion-tab-button tab="reporte-predictivo" >
      <ion-icon name="file-tray-full-outline" ></ion-icon>
      Reporte Predictivo
      <!-- <ion-label>Reporte Predictivo</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="resumen-descriptivo" >
      <ion-icon name="filter-circle-outline"></ion-icon>
      Reporte Descriptivo
      <!-- <ion-label>Reporte Descriptivo</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="set-premios" >
      <ion-icon name="gift-outline"></ion-icon>
      Premios
      <!-- <ion-label>Reporte Descriptivo</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="pedidos" >
      <ion-icon name="gift-outline"></ion-icon>
      Pedidos
      <!-- <ion-label>Reporte Descriptivo</ion-label> -->
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>