.titulogame {
    font-family: 'Sedgwick Ave Display', cursive;
    //font-size: 25px;
    //font-weight: bold;
    color: red;
   }

.tituloIndicacion {
    font-family: 'Sigmar One', cursive;
    color: brown;
}

.tituloof {
    font-family: 'Goblin One', cursive;
}

.fondogame {
    background-color: #F4D03F;

}


.LetraInformacion {
    font-family: 'Sigmar One';
    font-size: 29px;
    color:brown;
}

.info{
    
    color:purple;
    font-size: 32px;
}