.Rectangle-239 {
    width: 100%;
    min-height: 100px;
    height: 105px;
    max-height: 140px;
    background-color: #e9edf1;
  }
  
  .title {
   
  font-family: Inter-Regular !important;
  font-size: 25px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0e2045;
    
  }
  
  .title2 {
  width: 100%;
  text-align: center;
  font-family: Inter-Regular !important;
  font-size: 19pt;
  min-width: 355px ;
  color: #5C8282;
  margin-top: 30px;
  text-transform: none; 
  }
  
  .filtro{
    width: 100%;
      text-align: center;
      align-items: center;
      padding: 1% 5% 1% 5%;
  }
  
  .filtroContent{
    min-height: 250px;
    max-width: 100%;
    text-align: center;
    align-items: center;
  }
  
  .ButtonVerEstrategias {
  margin:  1.5em 2.25em 1.5em 2.25em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  border-radius: 100px;
  
  }
  
  .logoInicio{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  }
  .iconImage {
  zoom: 7.5;
  margin-top: 2px;
  }
  
  
  .BG {
    //arriba - derecha - abajo - izquierda
    //margin: 44px 30px 18px 30px;
    margin: 0.0em 1em 1em 1em;
    align-items: center;
  }
  
  
  .Email {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }
  
  .Password {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }
  
  .Show {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #5db075;
  }
  
  .Olvidaste-tu-contrasea {
    font-family: Inter-Thin !important;
    margin: 0.5em 1.5em 1.5em 2.5em;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #373a37;
  }
  
  .ButtonLogin {
    margin:  3em 2.25em 0.5em 2.25em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
  }
  
  .O-inicia-sesin-con {
    margin: 3.5em 0em 0.5em 0em;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #91d08f;
  }
  
  .redeSociales {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .ButtonRedesSociales {
    min-height: 75px !important;
    max-width: 85px !important;
    margin:  0.2em 0.2em 0.5em 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    
  }
  
  .footerDerechosAutor {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .derechosAutor {
    font-family: Inter-Thin !important;
    margin: 0.5em 1.5em 1.5em 2.5em;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    
  }
  
  ion-item::part(native):hover {
    background: #f6f6f6;
    color: #000;
  }
  
  
  
  .item-input ion-label{
    pointer-events:all!important;
  }
  
  .styled-table { 
    border-collapse: collapse; 
    margin: 0 auto;
		/*Lo siguiente es para los bordes*/
    border-collapse: collapse;
    font-size: 1em; 
    font-family: sans-serif; 
    min-width: 200px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
  
    .styled-table thead tr { background-color: #009879; color: #000000; text-align: middle; }
    .styled-table th, .styled-table td { padding: 10px 10px; }
    .styled-table tbody tr { border-bottom: 1px solid #dddddd; } 
    .styled-table tbody tr:nth-of-type(even) { background-color: #f3f3f3; } 
    .styled-table tbody tr:last-of-type { border-bottom: 1px solid #009879; }


    .subtitulo {
      font-family: 'Times New Roman', Times, serif;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      background: #e9ecef;
      border-radius: 30px;
      padding: 30px;
      margin: 20px;

    }


    .p-3 {
      padding: 1rem!important;
    }

    .button{
      margin: 30px;

    }

    .btnadd{
      text-align: end;
      margin: 10px;
    }
    .imgcarga{

      border: 1px solid rgb(15, 15, 15);
      width: 100%;
      border-radius: 20px;
      margin: auto;
    }